{% load static %}

<html>
  <head>
    <title>
      {% block head %}
        This is the title head
      {% endblock %}
    </title>
    <link rel = "stylesheet" type="text/css" href="{% static 'prefMovie/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'prefMovie/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'prefMovie/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'prefMovie/js/dist/star-ratings.min.js' %}"></script>
 
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      123456
    {% endblock %}
    <script src = "{% static 'prefMovie/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    <script 
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

 
    {% block scripts %}
    {% endblock %}
  </body>
</html>
