{% extends 'base.html' %}

{% load static %}

{% block head %}
  Detail page
{% endblock %}

{% block body %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">   
        Movie Review
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'prefMovie:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class = "nav-item">
            </li>
        </ul>
        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'prefMovie:logout' %}">LOGOUT</a>
        </div>

    </nav>
    <br/>


      <center>
            {% if movies.image %}
            <img src = {{ movies.image.url }}/>
            {% endif %}
            <br/><br/>
            <div class="card text-white bg-dark mb-3" style="max-width: 70%;">
            <div class = "row no-gutters"> 
                <div class = "card-img-top">
                
                </div>
                <div class = "card-body">
                <span class = "card-title">
                <h4><b>{{ movies.title }}</b></h4></span>
                <b>Release Date:</b> <br/>
                <b>{{ movies.releaseDate }}</b><br/>
                Description:
                <div style = "text-align: justify;" class = "card-text" >{{ movies.desc }}</div>
                </div>
                     
                </div>
                <div class="row">
                        <form action="{% url 'prefMovie:detail' movies.id %}" method="POST">
                                {% csrf_token %}
                                <table style= "color: white; margin-left: 50px;">

                                {{ comment.as_table }}
                            </table>
                                <button type="submit" value="Add" class="btn btn-primary mb-2">Submit</button>
                            
                        </form>
                </div> 
                <div class="row">
                        <ul style = "width:96.5%;">
                            <table >
                                {% for comment in movies.comment.all %}
                                        <a style = "background-color: black;"class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <small> {{ comment.created_date }} </small>
                                                <strong>{{ comment.author }}</strong>
                                                </div>
                                                <p class="mb-1">{{ comment.text }}</p>
                                        </a>
                                        
                                {% endfor %}
                            </table>
                        </ul>
                    </div>
                    <center>
                    
      </center>
      </div>

             
      <script>
        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
            direction: 'left'
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, options);
        });

        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });

      </script>


{% endblock body %}
