{% extends 'base.html' %}

{% load static %}
{% block head %}
  Detail page
{% endblock %}

{% block body %}
<style>

    .center-justified {
        text-align:justify;
        -moz-text-align-last:center;
        text-align-last:center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .colorNew {
        background-color:lightcoral;
    }

    .colorNew:hover {
        background-color:dodgerblue;
    }


</style>

    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Movies</a>
        </div>
      </nav>

      <center>
            {% if movies.image %}
                <img src = {{ movies.image.url }}/>
            {% endif %}
            <h5><b>Title:</b></h5>
            <h6><b>{{ movies.title }}</b></h6>
            <b>Release Date:</b> <br/>
            <b>{{ movies.releaseDate }}</b><br/>
            Description:
            <div class = "col s3"></div> 
            <div class = "col s4 center-justified" >{{ movies.desc }}</div>
            <div class = "col s3"></div>
      </center>      

      <div class = "click-to-toggle fixed-action-btn">
            <a class = "btn-floating btn-large red">
                <i class = "large material-icons" >add</i>
            </a>
            <ul>
                <li>
                    <a class = "btn-floating tooltipped colorNew" data-position = "top"><i class = "material-icons"  data-tooltip = "Comment">comment</i></a>
                </li>
                <li>
                    <a href="{% url 'prefMovie:update' movies.id %}" class = "btn-floating colorNew"><i class = "material-icons">edit</i></a>
                </li>
            </ul>
        </div>

      
                
      <script>
        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
            direction: 'left'
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, options);
        });

        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });

      </script>


{% endblock body %}
