{% extends 'base.html' %}

{% block head %}
  Index Page

{% endblock %}

{% block body %}
  <style>
    .btn-size {
      display: inline-block;
      font-size: 16px;
      width: 150px;
    }

    .fixed-action-btn {
      margin-top: 15px;
      position: relative;
    }

    .card {
      width: 100%;
    }

    .card-image {
      position: relative;
      background-size:cover;
      background-position: center;
    }
    
    .star-rating {
        align-items: center;
        font-size: 3em;
        justify-content: center;
        margin-top: 50px;
    }
    .back-stars {
        color: #bb5252;
        position: relative;
        text-shadow: 4px 4px 10px #843a3a;
    }
    .front-stars {
        color: #FFBC0B;
        overflow: hidden;
        position: absolute;
        text-shadow: 2px 2px 5px #d29b09;
        top: 0;
    }
  </style>

  {% if request.user.is_authenticated %}
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class =
          "material-icons">movie</i>Movies</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'prefMovie:logout' %}" class = "btn">Logout</a></li>
        </ul>
      </div>
    </nav>
    {% for a in movies %}

      <div class = "row">
        
        <div class = "col s12 m12">
          <div class = "card horizontal blue-grey darken-1">
            <div class = "card-image">
                {% if a.image %}
                  <img style = "height:100%; width:100%;" src = {{ a.image.url }}>
                {% endif %}
            </div>

            <div class = "card-content white-text">
              <span class = "card-title">{{ a.title }}, <br/> {{ a.releaseDate }}</span>
              <p>Description:</p> <br/>
              <span class = "card-subtitle">{{ a.desc|safe|truncatewords:"45"|linebreaks }}
              </span>
              <h5>Average Rating</h5>
              <div class="star-rating" title="70%">
                  <div class="back-stars">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      
                      <div class="front-stars" style="width: 70%">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>    
            </div>

            <div class = "card-action">
              <div class = "click-to-toggle fixed-action-btn">
                  <a class = "btn-floating btn-large red">
                      <i class = "large material-icons" >add</i>
                  </a>
                  <ul>
                      <li>
                          <a class = "btn-floating tooltipped colorNew" data-position = "top"><i class = "material-icons"  data-tooltip = "Comment">comment</i></a>
                      </li>
                      <li>
                          <a href="{% url 'prefMovie:detail' a.id %}" class = "btn-floating colorNew"><i class = "material-icons">edit</i></a>
                      </li>
                  </ul>
              </div>
              
            </div>
          </div>
        </div>
       
      </div>
    {% endfor %}

  {% else %}
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"><i class =
            "material-icons">movie</i>Movies</a>
        </div>
      </nav>
      <center>
        <div class = "row">
          <br/>
            <a href = "{% url 'prefMovie:login' %}" class = "btn btn-size">Login</a>
            <br/><br/>
            <a href = "{% url 'prefMovie:registration' %}" class = "btn btn-size">Register</a>
        </div>
      </center>
  {% endif %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
            direction: 'bottom'
            });
        });
  </script>
{% endblock %}
